# Ignorar VS Code config
.vscode/

# Ignorar binarios
bin/
lib/

# Ignorar archivos .class (compilados de Java)
*.class

# Ignorar todo en src/

# No ignorar el directorio src ni subcarpetas
!src/
!src/**/

# No ignorar archivos .java en cualquier nivel dentro de src
!src/**/*.java
!src/*.java
