# Ignorar VS Code config
.vscode/

# Ignorar binarios
bin/
lib/

# Ignorar archivos .class (compilados de Java)
*.class

# Ignorar todo en src excepto archivos .java
# Ignorar todo en src/
src/*

# Pero no ignores archivos .java en src o subcarpetas
!src/**/*.java
!src/*.java

